*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #181818;
}

@font-face {
    font-family: font;
    src: url(GraphikRegular.otf); 
}
@font-face {
    font-family: font2;
    src: url(GraphikLight.otf);
}
.mtavari{
    margin: 60px auto;
    width: 100%;

}
.text{
    text-align: center;
    display: inline;
}
.satauri{
    font-weight: 400;
    font-size: 52px;
    color: #ffffff;
    font-family: font;

}
.paragraph{
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    font-family: font2;
}

.mtavari2{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card1, .card2{
    width: 476px;
    height: 620px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    font-family: font;
}
.card1{
    margin-left: 130px;
}
.card2{
    margin-right: 130px;
}






.satauri1 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    font-family: font;
    margin-top: 50px;
}

.paragraph2{
    font-weight: 400px;
    font-size: 16px;
    color: #5C5C5C;
    text-align: center;
    margin-top: 30px;
}
button{
    width: 148px;
    height: 52px;
    background-color: #4452fe;
    border: none;
    margin-left: 165px;
    margin-top: 40px;
    color: #ffffff;
    font-size: 17px;
    font-family: font;
    cursor: pointer;

}

.img1{
    width: 405px;
    height: 226.52px;
    margin-left: 35px;
    margin-top: 67px;
}

.img2{
    width: 379px;
    height: 276px;
    margin-top: 50px;
    margin-left: 48px;
}

